*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
video{
    border-radius: 10px;
}
body{
    /*background: url("../img/bg2.jpg");*/
    /*background: red;*/
    /*background-repeat: none;*/
    /*background-size: */
}
.red{
    background: red;
}
.header{
    min-width: 1100px;
    width: 100%;
    float: left;
    height: 120px;
    background: #ECECEC;
    border-top: 30px solid #65EEAE;
    box-shadow:  0 0 10px black;
    z-index: 2;
    position: relative
}
.headerTitle{
    width: 500px;
    height: 100%;
    line-height: 120px;
    float: left;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 5px;
}
.headerMenu{
    width: 500px;
    float: left;
    height: 100%;
}
.menu{
    padding: 10px;
    float: right;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 40px;
    margin-left: 20px;
    color: black;
}
.menu:hover{
    cursor: pointer;
    background: #9F867E;
    color: white;
}
.wrapper{
    height: 100%;
    width: 1000px;
    /*padding-left: 50px;*/
    /*padding-right: 50px;*/
    margin-left: auto;
    margin-right: auto;
}
.slider{
    min-width: 1100px;
    width: 100%;
    height: 550px;
    float: left;
    z-index: 1;
    position: relative;
}
.imgSlider2{
    width: 100%;
    height: 550px;
    float: left;
}
.imgSlider{
    width: 100%;
    height: 550px;
    margin-top: -550px;
    float: left;
}
.dotSliderWrapper{
    margin-top: -50px;
    width: 100%;
    height: 30px;
    float: left;
    z-index: 2;
    position: relative;
}
.dotSlider{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #EE6290;
    margin-right: 10px;
    float: left;
}
.dotSliderActive{
    width: 20px;
    height: 20px;
    border: 5px solid #EE6290;
    border-radius: 50%;
    background: white;
    margin-right: 10px;
    float: left;
}
.peta{
    min-width: 1100px;
    width: 100%;
    height: 300px;
    float: left;
    margin-top: 50px;
}
.gambarPeta{
    width: 500px;
    height: 300px;
    float: left;
    background: lightgrey;
    border-radius: 10px;
}
.judulPeta{
    width: 400px;
    padding: 0 50px 30px 50px;
    font-size: 30px;
    float: left;
    letter-spacing: 2px;
}
.descPeta{
    width: 400px;
    padding: 0px 50px 30px 50px;
    font-size: 14px;
    float: left;
    text-align: justify;
}
.shadow{
    width: 100%;
    height: 20px;
    box-shadow:  0 0 10px black;
}
.konten{
    min-width: 1100px;
    margin-top: 50px;
    float: left;
    height: 250px;
    width: 100%;
}
.kontenWrapper{
    width: 1000px;
    height: 100%;
    overflow: auto;
    margin-right: auto;
    margin-left: auto;
}
.konten2{
    width: 300px;
    height: 200px;
    float: left;
    margin-right: 27px;
}
.konten2Foto{
    width: 100%;
    height: 170px;
    float: left;
    border-radius: 10px;
}
.konten2Detail{
    width: 80px;
    height: 40px;
    line-height: 40px;
    float: left;
    margin-left: 115px;
    background: #8B6C62;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.footer{
    min-width: 1100px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #00E47A;
    float: left;
    margin-top: 50px;
    text-align: center;
    color: white;
}
.body{
    min-width: 1100px;
    width: 100%;
    min-height: 500px;
    float: left;
    margin-top: 50px;
}
.penjelasan{
    width: 500px;
    min-height: 500px;
    float: left;
}
.judulPenjelasan{
    width: 100%;
    height: max-content;
    float: left;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}
.isiPenjelasan{
    width: 100%;
    height: auto;
    font-size: 14px;
    text-align: justify;
}
.resep{
    width: 450px;
    min-height: 500px;
    float: left;
    margin-left: 50px;
}
.judulResep{
    width: 100%;
    height: 50px;
    float: left;
    font-size: 30px;
    font-weight: bold;
}
.isiResep{
    width: 100%;
    height: auto;
    font-size: 14px;
}
.video{
    width: 1000px;
    min-height: 500px;
    float: left;
    padding-top: 50px;
}
.profil{
    width: 550px;
    height: 170px;
    float: left;
    margin-bottom: 30px;
    border-bottom: 1px lightgrey solid;
}
.fotoProfil{
    width: 120px;
    height: 120px;
    background: grey;
    border-radius: 120px;
    float: left;
}
.namaProfil{
    width: 400px;
    height: 40px;
    float: left;
    font-size: 20px;
    margin-left: 30px;
    line-height: 40px;
}
.isiProfil{
    width: 400px;
    height: 20px;
    float: left;
    margin-left: 30px;
}
.socialMedia{
    width: 20px;
    margin-left: 45px;
    height: 30px;
    margin-top: 5px;
    float: left;
}
.isiPT{
    width: 100px;
    float: left;
}
.isiPF{
    width: auto;
    float: left;
}
.gambarDaftar{
    width: 200px;
    height: 500px;
    float: left;
}
.formDaftar{
    width: 450px;
    height: 500px;
    float: left;
}
.FDJudul{
    font-weight: 700;
    width: 100%;
    padding-left: 30px;
    float: left;
    font-size: 24px;
    height: 40px;
}
.FDIsi{
    width: 100%;
    float:left;
    height: 30px;
    margin-bottom: 10px;
}
.FDITitle{
    width: 120px;
    height: 30px;
    line-height: 30px;
    float: left;
    padding-left: 30px;
}
.FDIText{
    width: 300px;
    padding: 5px;
}
.btnDaftar{
    width: 100px;
    height: 40px;
    float: right;
    background: #00E47A;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
.tooltipWrapper{
    width: 400px;
    float: right;
    height: 50px;
    margin-top: -50px;
    margin-right: -150px;
    margin-bottom: 10px;
}
.tooltip{
    display: none;
    width: max-content;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    background: #263238;
    color: white;
    line-height: 40px;
    border-radius: 5px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.segitiga{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 10px solid  #263238;
    margin-left: auto;
    margin-right: auto;
}

@keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}
.fadeIn{
    animation: fadein 2s;
    /*transition-delay: 1s;*/
}
.titleAbout{
    width: 100%;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 40px;
    letter-spacing: 3px;
}
.wrapperLogo{
    padding: 30px;
    float: left;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border: 5px solid black;
    margin-top: 30px;
}
.wrapperDescAbout{
    height: 200px;
    width: 450px;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    text-align: justify;
}
.divider{
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
    height: 5px;
    border-bottom: 4px solid lightgrey;
    float: left;
}